<%= link_to "Back to Pictures", pictures_path %> | <%= link_to "Edit Pictures", edit_picture_path(@picture) %> | <%= link_to "Delete Picture", @picture, :confirm=>"Are you sure?", :method => :delete %>
<p><%= @picture[:title]%>, <%= @picture[:artist]%></p>
<%= image_tag @picture[:url] %>

